.pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: calc(25% - 20px); 
    margin-bottom: 20px; 
    padding: 10px;
    text-align: center;
    box-sizing: border-box; 
}

.card img {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.description {
    margin-top: 10px;
}

.description p {
    margin: 5px 0;
}

.buttons {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}

.button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-collection {
    background-color: green;
    color: white;
}

.information {
    background-color: red;
    color: white;
}

.tag-to-know {
    background-color: #ffcccc; /* Light shade of red */
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 200px;
    margin-top: 20px;
    height: 50px;
}

.tag-to-know:hover {
    background-color: #ffb3b3; /* Darker shade of red on hover */
}
